<div class="row">
  <div class="col-12">
    <div class="input-group mb-4">
      <div class="ng-autocomplete form-control">
        <ng-autocomplete [data]="showItem" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                         (inputChanged)='onChangeSearch($event)'
                         (inputFocused)='onFocused($event)'
                         placeHolder="Enter the Product Name "
                         historyIdentifier="product" (closed)='onClosed($event)' [itemTemplate]="itemTemplate"
                         [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <blockquote class="blockquote">
            <p class="mb-0" [innerHTML]="item?.productName"></p>
            <footer class="blockquote-footer" [innerHTML]="item?.productDescription"></footer>
          </blockquote>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-12">
    <form #FormsModule='ngForm' novalidate>
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <ul class="list-group" *ngFor="let cartAdjustment of cart.adjustments">
              <li class="list-group-item" *ngIf="cartAdjustment.adjustmentTypeId == 'FREIGHT'">
                Total Shipment Adjustment: <span class="float-right">{{cartAdjustment.amount | currency}}</span>
              </li>
              <li class="list-group-item" *ngIf="cartAdjustment.adjustmentTypeId == 'TAXES'">
                Total Tax Adjustment: <span class="float-right">{{cartAdjustment.amount | currency}}</span>
              </li>
              <li class="list-group-item" *ngIf="cartAdjustment.adjustmentTypeId == 'PROMO'">
                Promotion Adjustment: <span class="float-right">{{cartAdjustment.amount | currency}}</span>
              </li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item" *ngIf="cart.discountTotal > 0">
                Discount Total: <span class="float-right">{{cart.discountTotal | currency}}</span>
              </li>
              <li class="list-group-item" *ngIf="cart.itemTotal > 0">
                Item Total: <span class="float-right">{{cart.itemTotal | currency}}</span>
              </li>
              <li class="list-group-item" *ngIf="cart.grandTotal > 0">
                Grand Total: <span class="float-right">{{cart.grandTotal | currency}}</span>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <div class="form-group">
              <button class="btn btn-success float-right" (click)="createOrder()">Place Order</button>
              <button class="btn btn-light" (click)="calculateAdjustment()">Refresh</button>
            </div>
            <br>
            <div class="form-group">
              <label for="userId">User Id</label>
              <input [(ngModel)]="cart.userId" aria-describedby="User Id" disabled class="form-control" id="userId"
                     name="userId" placeholder="User Id" type="text">
            </div>
            <div class="form-group">
              <label for="cartDate">Date</label>
              <input [(ngModel)]="cart.cartDate" aria-describedby="Cart Date" disabled class="form-control"
                     id="cartDate"
                     name="cartDate" placeholder="Date" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <ul class="list-group">
            <a *ngFor="let item of cart.items"
               class="list-group-item list-group-item-action flex-column align-items-start">
              <button type="button" class="close" aria-label="Close" (click)="removeItem(item.productId)">
                <span aria-hidden="true">&times;</span>
              </button>
              <h6>{{item.productName}}</h6>
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{item.productDescription}}</p>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-2">Quantity</p>
                <div class="form-row flex-right">
                  <div class="col-sm-3 my-1">
                    <label class="sr-only" for="selectedQuantity"></label>
                    <input type="number" class="form-control form-control-sm flex-right"
                           value="{{item.selectedQuantity}}"
                           id="selectedQuantity" (change)="updateQuantity(item.productId ,$event)">
                  </div>
                  <div class="col-sm-3 my-1">
                    <label class="sr-only" for="value"></label>
                    <input type="text" class="form-control form-control-sm flex-right" id="value"
                           placeholder="{{item.quantity}}" disabled>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-3">Price</p>
                <div *ngIf="item.selectedProductPromoId == null">
                  <div *ngFor="let price of item.productPrices">
                  <span *ngIf="price.productPriceTypeId == 'DEFAULT_PRICE'"
                        class="flex-right">{{price.price | currency}}</span>
                  </div>
                </div>
                <div *ngIf="item.selectedProductPromoId != null">
                  <div *ngFor="let price of item.productPrices">
                    <span *ngIf="price.productPriceTypeId == 'LIST_PRICE'"
                          class="flex-left">{{price.price | currency}}</span>
                    <span *ngIf="price.productPriceTypeId == 'DEFAULT_PRICE'"
                          class="flex-right"><del>{{price.price | currency}}</del></span>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100">
                <p class="mb-3">Promotion</p>
                <div class="custom-control custom-radio" *ngFor="let promo of item.productPromos">
                  <label>
                    <input type="radio" name="{{item.productId}}"
                           (click)="updatePromo(promo.productPromoId, item.productId)">
                    {{promo.promoName}}
                  </label>
                </div>
              </div>
            </a>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
