<h3></h3>
<div class="row">
  <div class="col-12">
    <form [formGroup]="orderForm" novalidate>
      <div class="input-group mb-3">
        <input aria-describedby="order-id" aria-label="Order Id" class="form-control" formControlName="orderId"
               placeholder="Search Order Id" type="text">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" id="order-id" (click)="getOrder()">Order</button>
          <button class="btn btn-outline-primary" id="user-order-id" (click)="getUserOrder()">My Orders</button>
        </div>
      </div>
    </form>
    <div *ngIf="!showHide">
      <div *ngIf="orderDetail != undefined" class="row">
        <div class="col-12">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-primary float-right" id="invoice-id"
                      *ngIf="orderDetail.orders.invoiceId !== null"
                      [routerLink]="['/invoice', orderDetail.orders.invoiceId]">Generate Invoice
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#exampleModal">
                Create Incident
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-primary float-right" id="order-pdf-id"
                      (click)="getOrderPDF()">Generate Order PDF
              </button>
            </li>
          </ul>
          <br>
        </div>
        <div class="col-8">
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item list-group-item-secondary"><p class="mb-1 font-weight-bold text-center">
                Items</p></li>
              <a *ngFor="let items of orderDetail.orderItems"
                 class="list-group-item list-group-item-action flex-column align-items-start">
                <h6>{{items.productId}}</h6>
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">Quantity</p>
                  <small>{{items.quantity}}</small>
                </div>
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">Price</p>
                  <small>{{items.unitPrice | currency}}</small>
                </div>
              </a>
            </ul>
            <br>
            <ul class="list-group">
              <li class="list-group-item list-group-item-secondary"><p class="mb-1 font-weight-bold text-center">
                Incidents</p>
              </li>
              <li class="list-group-item">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let items of orderDetail.orderIncidents">
                    <td>
                      <a href="https://dev67471.service-now.com/{{items.link}}"
                         class="btn btn-link btn-sm active" role="button" aria-pressed="true">{{items.number}}</a>
                    </td>
                    <td>{{items.state}}</td>
                    <td>{{items.description}}</td>
                  </tr>
                  </tbody>
                </table>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item list-group-item-secondary"><p class="mb-1 font-weight-bold text-center">
                Sales
                Order</p></li>
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">Status </p>
                  <p class="font-weight-bold">{{orderDetail.orders.orderStatusId }}</p>
                </div>
              </a>
              <a *ngFor="let role of orderDetail.roles"
                 class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">{{role.roleTypeId | titlecase}}</p>
                  <small>{{role.partyId}}</small>
                </div>
              </a>
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">Date </p>
                  <small>{{orderDetail.orders.orderDate | date}}</small>
                </div>
              </a>
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">Order # </p>
                  <small>{{orderDetail.orders.orderId}}</small>
                </div>
              </a>
            </ul>
          </div>
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item list-group-item-secondary"><p class="mb-1 font-weight-bold text-center">
                Amount</p></li>
              <a *ngFor="let adjustment of orderDetail.adjustments"
                 class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">{{adjustment.adjustmentType | titlecase}}</p>
                  <small>{{adjustment.amount | currency}}</small>
                </div>
              </a>
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">Total </p>
                  <p class="font-weight-bold">{{orderDetail.orders.total | currency}}</p>
                </div>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showHide">
      <div class="row">
        <div class="col-sm-6" *ngFor="let orderDetail of orderDetails">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Order #{{orderDetail.orders.orderId }}</h5>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">Status
                  <span class="badge badge-pill">{{orderDetail.orders.orderStatusId }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Date
                  <span class="badge badge-pill">{{orderDetail.orders.orderDate}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Total
                  <span class="badge badge-pill">{{orderDetail.orders.total | currency}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Incident</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group">
            <textarea class="form-control" [(ngModel)]="description" name="description"
                      aria-label="With textarea"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createOrderIncidents()">Save
          changes
        </button>
      </div>
    </div>
  </div>
</div>
