<h3></h3>
<div class="row">
  <div class="col-12">
    <div *ngIf="invoiceValue != undefined" class="card w-100">
      <h5 class="card-header">Sales Invoice <button type="button" class="btn btn-link float-right" (click)="getInvoicePDF()">Generate Invoice PDF</button></h5>
      <div class="card-body">
        <div class="row">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title">Amount</h5>
              <div class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Amount : <span
                    class="float-right">{{invoiceValue.amount_due | currency}}</span></li>
                  <li class="list-group-item">Sub Total: <span
                    class="float-right">{{invoiceValue.subtotal | currency}}</span></li>
                  <li class="list-group-item">Total: <span class="float-right">{{invoiceValue.total | currency}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title">Invoice Items</h5>
              <div class="card-text">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th class="text-right" scope="col">Quantity</th>
                    <th class="text-right" scope="col">Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of lines; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.description}}</td>
                    <td class="text-right">{{item.quantity | number}}</td>
                    <td class="text-right">{{item.amount  | currency}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

